@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
	--width-mobile: 375px;
	--width-desktop: 1440px;

	/*---TEXTS---*/
	--clr-p-blue: hsl(238, 29%, 16%);
	--clr-p-red: hsl(14, 88%, 65%);
	--clr-n-blue-a: hsl(237, 12%, 33%);
	--clr-n-blue-b: hsl(240, 6%, 50%);

	/*---GRADIENTS---*/
	--grad-violet: hsl(273, 75%, 66%);
	--grad-blue: hsl(240, 73%, 65%);

	/*---DIVIDERS---*/
	--div-blue: hsl(240, 5%, 91%);

	--fs: 12px;
	--ff: 'Kumbh Sans', sans-serif;
	--fw-a: 400;
	--fw-b: 700;
}

*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: var(--fs);
	font-family: var(--ff);
	background-image: linear-gradient(var(--grad-violet),var(--grad-blue));
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	margin: 7.4rem 0;
	padding: 0 1.6rem;
	height: fit-content;
	width: 315px;
	background: #fff;
	border-radius: 15px;
}
.image-container {
	display: flex;
	justify-content: center;
}
.image-center {
	width: 224px;
	height: 194px;
	position: absolute;
	top: 18px;
}
.image-center img {
	width: 14rem;
	margin: auto;
}
.image-center img:nth-child(2){
	position: relative;
	bottom: 4rem;
}
.desktop {
	display: none;
}
section {
	margin-top: 7rem;
}
h1 {
	text-align: center;
	font-size: 1.6rem;
	margin-bottom: 2rem;
}
#article {
	margin: 1rem 0 2rem 0;
}
.faq {
	margin-bottom: 1rem;
}
.question-center {
	display: flex;
	justify-content: space-between;
}
.question {
	font-size: var(--fs);
	font-weight: var(--fw-a);
	color: var(--clr-n-blue-a);
	cursor: pointer;
}
.question:hover {
	color: var(--clr-p-red);
}
.bold-text {
	font-weight: var(--fw-b);
}
.btn {
	background: none;
	border: none;
}
.btn:hover {
	cursor: pointer;
}
.arrow {
	width: 10px;
	height: 7px;
}
.rotate {
	transform: rotate(180deg);
}
.answer {
	margin: 1rem 0;
	padding-right: 1rem;
	line-height: 18px;
	color: var(--clr-n-blue-b);
	display: none;
}
.show {
	display: block;
}
.underline {
	border: solid 1px var(--div-blue);
	margin-top: 1rem;
}
@media screen and (min-width: 1024px) {
	body {
		align-items: center;
	}
	main {
		display: grid;
		grid-template-columns: auto  auto;
		width: 768px;
		height: fit-content;
		padding: 1.6rem 6rem 1.5rem 0;
	}
	.image-center {
		position: relative;
	}
	section {
		margin: 0 0 0 8rem;
	}
	h1 {
		text-align: left;
	}
	#article {
		width: 280px;
	}
	.desktop {
		display: block;
		position: relative;
		top: 130px;
	}
	.desktop img:nth-child(1) {
		width: 360px;
		object-fit: fill;
		object-position: -20% 0;
		position: relative;
		left: -70px;
		top: -100px;
		z-index: 1;
	}
	.desktop img:nth-child(2) {
		width: 700px;
		position: relative;
		left: -410px;
		bottom: 600px;
	}
	.mobile {
		display: none;
	}
}